# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.env/

# IDEs
.vscode/
.idea/

# Miscellaneous
.DS_Store
*.log
*.swp
.pytest_cache/
*.bot
project_structure.txt
scripts/*
debug_on_error.py
discord.txt
Notes.txt
*credentials*
bot_context.txt
scratch.py
tests/test_file.py
sample.py