
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# IDEs
.vscode/
.idea/

# Miscellaneous
*.log
*.tmp

# Custom Ignore
scripts/last_temp_script@*.py
/data/mailbox_log.txt
/.gitignore
.experiments
Notes.txt
setup_bot_viewer.ps1
.gitignore
